:root{
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}

*,*::before, *::after{
    box-sizing: border-box;
}
html{
    block-size: 100%;
    inline-size: 100%;
}

body{
    min-block-size: 100%;
    min-inline-size: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-size: .875rem;
    padding: 1.5rem; 
    background: url('../../images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;

    

    @include tabplus{
        background-color: var(--Very-Dark-Blue);
        background-image: url('../../images/bg-desktop.png');
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 50vh;
    }
}
